img {
    width: 250px;
}

h1,h2 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,li,a {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
}

